<%= form_with(model: order_product_history, local: true) do |form| %>
  <% if order_product_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_product_history.errors.count, "error") %> prohibited this order_product_history from being saved:</h2>

      <ul>
      <% order_product_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
