<p id="notice"><%= notice %></p>

<h1>Order Product Histories</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_product_histories.each do |order_product_history| %>
      <tr>
        <td><%= order_product_history.quantity %></td>
        <td><%= order_product_history.price %></td>
        <td><%= link_to 'Show', order_product_history %></td>
        <td><%= link_to 'Edit', edit_order_product_history_path(order_product_history) %></td>
        <td><%= link_to 'Destroy', order_product_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Product History', new_order_product_history_path %>
